@model KingsLeague.Models.Patrocinios

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Patrocinios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeId" class="control-label"></label>
                <select asp-for="TimeId" class="form-select" asp-items="ViewBag.TimeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Verba" class="control-label"></label>
                <input asp-for="Verba" class="form-control" />
                <span asp-validation-for="Verba" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrazoContrato" class="control-label"></label>
                <input asp-for="PrazoContrato" class="form-control" />
                <span asp-validation-for="PrazoContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoContrato" class="control-label"></label>
                <input asp-for="TipoContrato" class="form-control" />
                <span asp-validation-for="TipoContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
