@{
    ViewData["Title"] = "Home Page";
}

<style>
    .text-center {
        text-align: center;
        padding: 20px; 
        border-radius: 10px; 
    }
    h1 {
        margin-top: 50px;
    }
    img {
        margin-top: 50px;
    }
    h2 {
        margin-top: 50px;
    }
</style>

<div class="text-center">
    <h1>KingsLeague</h1>
    <img src="https://darkleaguestudios.com/Img/Thumbnail/Kings%20League%20s1.png" alt="Logo">
    <h2>Cadastre os times para o campenato</h2>
</div>
